<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="XY"
            id="org.jehanson.xy.workbench.category">
      </category>
      <view
            allowMultiple="true"
            category="org.jehanson.xy.workbench.category"
            class="org.jehanson.xy.workbench.XYWorkbenchView"
            id="org.jehanson.xy.workbench.view"
            name="XY View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.jehanson.xy.workbench.category"
            class="org.jehanson.xy.workbench.XYWorkbenchOptions"
            id="org.jehanson.xy.workbench.options"
            name="XY Options"
            restorable="true">
      </view>
   </extension>

</plugin>
